
.git
.gitignore

.env
.env.*
!.env.example


Dockerfile
docker-compose.yml
.dockerignore


db.sqlite3
media/


venv/
.venv/
env/


.idea/
.vscode/


.pytest_cache/
.github/
tests/
htmlcov/
.coverage


README.md
docs/
